/*body text*/
body { 
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(0, 0, 0);
  }
  /*
   * Formatting the header area
   */
  header {
    background-color: #112bee;
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
  }
  /*Seelion heading*/
  .text-box{
    margin: 0;
    font-size: 1.7em;
    color: #fff;
    float: left;
   }

  header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    float: left;
  }
  header h1.logo:hover {
    color: #fff;
    text-decoration: none;
  }
  /*
   * Centering the body content
   */
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  div.home {
    padding: 10px 0 30px 0;
    background-color: #ffffff;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  div.about {
    padding: 10px 0 30px 0;
    background-color: #ffffff;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    transform: translateX(125px);
  }

 img {
    margin-left:405px;
    border: 7px solid rgb(0, 64, 241);   
    border-radius: 25px;
    
    ;  
    
}
.bear {
  margin-left:300px;
  margin-top: 0px;
  border-radius: 25px;
  border: 0px;
 
}

.bear2 {
  transform: translateX(-38px);
  margin-top: 0px;
  border-radius: 25px;
  border: 0px;
 
}



div.top-header{
  background-color: rgb(0, 64, 241); 

}

video {
  margin-left:405px;
  border: 7px solid rgb(0, 64, 241);
  border-radius: 25px;  
  
}

  h1 {
    font-size: 2em;
    color: rgb(0, 64, 241); 
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
    margin-left: 200px;
    transform: translateX(20px);
  }
  h2 {
    font-size: 3em;
    text-shadow: -1px -1px 0 #000;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
    color: rgb(0, 64, 241); 
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
    margin-left: 200px;
    transform: translateX(20px);
  }
  h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-left: 200px;
    margin-top: 10px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
    transform: translateX(20px);
  }
  h4 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: rgb(18, 138, 0);
    transform: translateX(20px);
  }
  h5 {
    text-shadow: -2px -2px 0 #000;
    font-size: 2.5em;
    font-weight: 200;
    transform: translateX(300px);
    margin-top: 10px;
  
    
    letter-spacing: -1px;
    color: #fbff00;
    /*font-size: 2.5em;
    font-weight: 200;
    margin-left: 670px;
    margin-top: 10px;
    text-align: left;
    letter-spacing: -1px;
    color: #fbff00;*/
  }

  h6 {
    font-size: 1.2em;
    color: rgb(0, 64, 241); 
    margin-top: 40px;
    text-align: center;
    letter-spacing: 1px;
    margin-left: 200px;
  }

  p {
    font-size: 1.2em;
  }

  .menu {
    float: right;
    margin-top: 8px;
  }
  .menu li {
    display: inline;
  }
  .menu li + li {
    margin-left: 35px;
  }
  .menu li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 2px;
  }

  label{
    display:inline-block;
    width:200px;
    margin-right:-60px;
    text-align:left;
  }


  #textboxid
{
    height:700px;
    font-size:14pt;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  transition:  background-color .15s;
  transition:  color .15s;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: yellow;
  background-color: #818181;
}

/* Main content */
.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: rgb(0, 25, 188);
  color: yellow;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}



.bear{
  position: absolute;
  top:10%;
  right: 50px;
  height: 120px;
  width:80px;
  background-color:#8B4513;
  border:5px solid black;
  border-radius:30%;
  z-index: 1;
  opacity: 1;

}

.face{
  position: relative;
  background-color: #8B4513;
  border: 5px solid black;
  height: 90px;
  width:110px;
  border-radius: 50%;
  bottom:30px;
  right:20px;
}
.earL,.earR{
  position: relative;
  background-color: #8B4513;
  border: 5px solid black;
  height: 25px;
  width: 40px;
  border-radius: 0px 0px 40px 40px;
}
.earL{
  transform: rotate(145deg);
  bottom: 20px;
  right: 13px;
}
.earR{
  transform: rotate(-145deg);
  bottom:50px;
  left:75px;
}

.inEarL,.inEarR{
  position: relative;
  background-color: #f3b486;
  
  height: 15px;
  width: 30px;
  border-radius: 0px 0px 40px 40px;
}

.inEarR{
  
  bottom:-4px;
  left:4px;
}
.inEarL{
 
  bottom:-3px;
  left:4px;
}

.eyeL,.eyeR{
  position: relative;
  background-color: black;
  height: 33px;
  width: 28px;
  border-radius: 50%;
}

.eyeL{
  transform: rotate(25deg);
  bottom: 40px;
  left: 10px;
}
.eyeR{
  transform: rotate(-25deg);
  bottom:73px;
  left:72px;
}

.eyeball{
  position: relative;
  top:8px;
  left: 7px;
  width:14px;
  height:14px;
  border-radius: 50%;
  background-color: white;
}

.nose{
  position: relative;
  height: 8px;
  width: 15px;
  background-color: pink;
  border-radius: 15px;
  bottom: 65px;
  left: 48px;
}

.handL,.handR{
  position: relative;
  width: 25px;
  height: 43px;
  background-color: #8B4513;
  border-radius: 30px;
  border: 2px solid black;
}

.handL{
  transform: rotate(90deg);
  bottom: 28px;
  right: 12px;
  animation:wave 3s infinite;
  transform-origin: top;
}
@keyframes wave{
  50% {transform: rotate(120deg)}
}

.handR{
  transform:rotate(-90deg);
  bottom:92px;
  left:89px;
}

.legL,.legR{
  position: relative;
  width: 17px;
  height: 25px;
  background-color: #8B4513;
  border-radius: 0px 0px 30px 30px;
  border: 2px solid black;
}

.legL{
  bottom: 70px;
  left: 15px;
}

.legR{
  bottom:100px;
  left:45px;
}

.shadow{
  position: relative;
  background-color: rgba(0,0,0,0.2);
  height: 30px;
  width:100px;
  border-radius: 50%;
  bottom: 105px;
  right:10px;
}