#epTitle {
  font-size: 50px;

  text-shadow: -1px -1px 0 #000;

  color: rgb(0, 64, 241);
  margin-top: 40px;
  letter-spacing: -2px;

  /* offset-x | offset-y | blur-radius | color */
  text-shadow: -2px -2px #444;

}

#timeStamp {
  font-family: "Cascadia Code";
  font-size: 30px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: -5px;
  text-align: center;
  letter-spacing: -1px;
  margin-left: -2px;
  margin-bottom: 10px;
  color: #0400ff;
  text-shadow: 1px 1px 5px yellow;
  /*transform: translateX(20px);*/
}


header {
  display: relative;
  background-color: rgb(0, 64, 241);
  height: 50px;
  width: 100%;
  color: yellow;
  font-size: 45px;
  font-weight: bold;
  vertical-align: center;
  margin-top: -8px;
  padding-left: 20px;
  margin-left: -10px;
  margin-right: 0px;
  text-shadow: 2px 2px black, -2px -2px #444;
}



#js-next-button,
#js-back-button {
  background-color: rgb(0, 64, 241);
  color: white;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  text-decoration: none;
  border: none;
  font-size: 20px;
  transition: scale .15;
  margin-top: 15px;
  cursor: pointer;
}

#js-next-button:hover,
#js-back-button:hover {
  transform: scale(0.9);
}


img,
video {
  /* For providing border to the element */
  border: 1px solid;
  /* For Padding */
  padding: 5px;
  /* Defining box-shadow property as inset */
  box-shadow: 5px 5px 5px 5px black;

}

button:active {
  box-shadow: 1px 1px 2px 2px black inset;
}