.epTitle {
  font-size: 50px;
  text-shadow: -1px -1px 0 #000;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
  color: rgb(0, 64, 241);
  margin-top: 40px;
  letter-spacing: -2px;

}

.timeStamp {
  font-size: 30px;
  font-weight: 200;
  margin-top: 10px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
  /*transform: translateX(20px);*/
}



header {
  display: relative;
  background-color: rgb(0, 64, 241);
  height: 50px;
  width: 100%;
  color: yellow;
  font-size: 45px;
  font-weight: bold;
  vertical-align: center;
  margin-left: 242px;
  margin-top: -8px;
  padding-left: 20px;
}

main {
  text-align: center;
  /* Same as the width of the sidenav */
  font-size: 20px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
  transform: translateX(110px);
}

.next {
  background-color: rgb(0, 64, 241);
  color: white;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  text-decoration: none;
  border: none;
  font-size: 20px;
  transition: background-color .15s;
}

.next:hover {
  background-color: rgb(100, 100, 228);
}