body {
  text-align: center;
  /* Same as the width of the sidenav */
  font-size: 20px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
  margin-left: 250px;
  font-family: Arial, "Helvetica Neue", Helvetica;
}


#page-title {
  font-size: 85px;
  text-shadow: -1px -1px 0 #000;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
  color: rgb(0, 64, 241);
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: -2px;
  text-shadow: -2px -2px #444;

}



#theory {
  font-size: 30px;
  color: rgb(0, 0, 0);
  margin-top: -10px;
  text-align: center;
  letter-spacing: -2px;


}



#quote {
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-top: 40px;
  text-align: center;
  letter-spacing: -1px;
}



header {
  display: relative;
  background-color: rgb(0, 64, 241);
  height: 50px;
  width: 100%;
  color: yellow;
  font-size: 45px;
  font-weight: bold;
  vertical-align: center;
  margin-top: -8px;
  padding-left: 20px;
  margin-left: -10px;
  margin-right: -10px;
  text-shadow: 2px 2px black, -2px -2px #444;
}

#EM-img {
  /* For providing border to the element */
  border: 1px solid;
  /* For Padding */
  padding: 5px;
  /* Defining box-shadow property as inset */
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 5px 5px 5px 5px black;
  border-radius: 10px;
}

.container {
  height: 150px;
  position: relative;
  margin: 30px;
}

.box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  z-index: 9;

}

.overlay {
  z-index: 10;
  cursor: pointer;
  background-color: white;
  margin-bottom: -25px;


}

.hide {
  display: none;
}

#bear {
  margin-top: 10px;
  box-shadow: none;
  border: none;
}