body {
  text-align: center;
  /* Same as the width of the sidenav */
  font-size: 20px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
  margin-left: 250px;
  font-family: Arial, "Helvetica Neue", Helvetica;
}

.title {
  font-size: 80px;
  text-shadow: -1px -1px 0 #000;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
  color: rgb(0, 64, 241);
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

.theory {
  font-size: 30px;
  color: rgb(0, 0, 0);
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

.quote {
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-top: 40px;
  text-align: center;
  letter-spacing: -1px;



}

header {
  display: relative;
  background-color: rgb(0, 64, 241);
  height: 50px;
  width: 100%;
  color: yellow;
  font-size: 45px;
  font-weight: bold;
  vertical-align: center;
  margin-top: -8px;
  padding-left: 20px;
  margin-left: -10px;
  margin-right: -10px;

}