/* Fixed sidenav, full height */
main {
    text-align: center;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
    margin-left: 250px;
    margin-left: -8px;
    font-family: Arial, "Helvetica Neue", Helvetica;
    height: 100%;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    transition: background-color .15s;
    transition: color .15s;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-weight: normal;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
    color: yellow;
    background-color: rgba(0, 0, 255, .2);
}

/* Main content */


/* Add an active class to the active dropdown button */
.active {
    background-color: rgb(0, 25, 188);
    color: yellow;
}

/* Dropdown container (hidden by default). 
Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
    margin-bottom: 25px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}