{% extends "layout.html" %}
{% block content %}
  <div class="home">
    <h2> Where's the Bear? </h2>
    
    <div class="row">
      <div class="column">
        <img src="static\images\sealion.jpg" width="640" height="480" >
      </div>
      <div class="column">
        <img src="static\images\sealion1.jpg" width="640" height="480"  >
      </div>
    </div>

    <div class="row">
      <div class="column">
        <img src="static\images\group.jpg" width="640" height="400" >
      </div>
      <div class="column">
        <img src="static\images\water.jpg" width="640" height="400" >
      </div>
    </div>
    
    <h1> Rules </h1>
    
    </div>

{% endblock %}